body {
  background-color: rgb(49, 49, 49);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  height: 95vh;
}

button {
  align-self: center;
  width: 250px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0);
  border: 3px solid white;
  color: white;
  font-size: larger;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 255, 0.1) !important;
  }
  &:active {
    transform: scale(0.95, 0.95);
  }
  transition: background-color 300ms, transform 60ms;
}
#root {
  height: 100%;
  #Main {
    height: 100%;
    #main2 {
      display: flex;
      align-items: center;
      height: 90%;
    }
  }
}
h1 {
  margin-left: 20px;
}
.panel {
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 70px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgb(60, 91, 107);
  border: 1px solid rgb(152, 207, 218);
  border-radius: 20px;
  label {
    margin-top: 10px;
    font-size: larger;
  }
  input,
  select,
  textarea {
    font-size: larger;
    background-color: rgb(211, 211, 211);
    padding: 5px;
    border-radius: 7px;
  }
  input {
    width: 25%;
  }
  textarea {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 100px;
  }
}

#grid {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 10px solid black;
  border-radius: 30px;
  .row {
    display: grid;
    // below allows cells to shrink at same size within dynamic width
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    background-color: black;
    .cell {
      position: relative; // relative for tooltip
      display: flex;
      aspect-ratio: 1/1;
      // margin: 1px;
      input {
        aspect-ratio: 1/1;
        border: 5px solid black;
        border-radius: 10px;
        background-color: gray;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 0px;
        // transition: scale 600ms;
        // transition-delay: 1000ms;
        &:focus {
          z-index: 3;
        }
      }
      .visited {
        background-color: rgb(53, 70, 79);
      }
      .discovered {
        background-color: rgb(67, 127, 71);
      }
      .potential {
        border: 5px solid rgb(190, 179, 21);
        z-index: 2;
      }
      .active {
        border: 5px solid rgb(190, 21, 21);
        z-index: 2;
        // scale: 1.1;
        // transition: scale 100ms;
      }
      .carrot {
        border: 5px solid rgb(190, 111, 21);
        // z-index: 2;
      }
      .wall {
        color: darkgray;
        background-color: rgb(31, 31, 31);
      }
    }
  }
}

.cell .overlay {
  opacity: 0;
  z-index: -111;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 110%;
  font-weight: bolder;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  translate: 0px 30px;
  left: 50%;
  transition: opacity 100ms, translate 100ms, z-index 100ms step-end; // applied on exit
  // the following are just to center the tooltip
  width: 70px;
  // margin left formula is -(width/2 + padding left)
  margin-left: -40px;
}

.cell:hover .overlay {
  z-index: 100;
  opacity: 1;
  translate: 0px -10px;
  transition: opacity 300ms, translate 200ms, z-index 1ms; // applied on entry
  transition-delay: 500ms;
}
